<h3>Add User</h3>

<div>
  <form (submit)="submitData()" class="mb-5">
    <div class="form-group mb-2">
      <label for="email">E-mail:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="E-mail"
        [(ngModel)]="email"
      />
    </div>
    <div class="form-group mb-2">
        <label for="name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
          [(ngModel)]="name"
        />
      </div>
      <div class="form-group mb-2">
        <label for="surname">Surname:</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          placeholder="Surname"
          [(ngModel)]="surname"
        />
      </div>
      <div class="form-group mb-2">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
        />
      </div>
    <br />
    <div class="form-check">
      <input
        [(ngModel)]="readPermission"
        name="readPermission"
        class="form-check-input"
        type="checkbox"
        value=""
        id="readPermission"
      />
      <label class="form-check-label" for="readPermission"> Read permission </label>
    </div>
    <div class="form-check">
      <input
        [(ngModel)]="createPermission"
        name="createPermission"
        class="form-check-input"
        type="checkbox"
        value=""
        id="createPermission"
      />
      <label class="form-check-label" for="createPermission"> Create permission </label>
    </div>
    <div class="form-check">
      <input
        [(ngModel)]="updatePermission"
        name="updatePermission"
        class="form-check-input"
        type="checkbox"
        value=""
        id="updatePermission"
      />
      <label class="form-check-label" for="updatePermission"> Update permission </label>
    </div>
    <div class="form-check">
        <input
          [(ngModel)]="deletePermission"
          name="deletePermission"
          class="form-check-input"
          type="checkbox"
          value=""
          id="deletePermission"
        />
        <label class="form-check-label" for="deletePermission"> Delete permission </label>
      </div>

      <div class="form-check">
        <input
          [(ngModel)]="searchMachines"
          name="searchMachines"
          class="form-check-input"
          type="checkbox"
          value=""
          id="searchMachines"
        />
        <label class="form-check-label" for="searchMachines"> Search machines permission </label>
      </div>

      <div class="form-check">
        <input
          [(ngModel)]="startMachines"
          name="startMachines"
          class="form-check-input"
          type="checkbox"
          value=""
          id="startMachines"
        />
        <label class="form-check-label" for="startMachines"> Start machines permission </label>
      </div>

      <div class="form-check">
        <input
          [(ngModel)]="stopMachines"
          name="stopMachines"
          class="form-check-input"
          type="checkbox"
          value=""
          id="stopMachines"
        />
        <label class="form-check-label" for="stopMachines"> Stop machines permission </label>
      </div>

      <div class="form-check">
        <input
          [(ngModel)]="restartMachines"
          name="restartMachines"
          class="form-check-input"
          type="checkbox"
          value=""
          id="restartMachines"
        />
        <label class="form-check-label" for="restartMachines"> Restart machines permission </label>
      </div>
      
      <div class="form-check">
        <input
          [(ngModel)]="createMachines"
          name="createMachines"
          class="form-check-input"
          type="checkbox"
          value=""
          id="createMachines"
        />
        <label class="form-check-label" for="createMachines"> Create machines permission </label>
      </div>

      <div class="form-check">
        <input
          [(ngModel)]="destroyMachines"
          name="destroyMachines"
          class="form-check-input"
          type="checkbox"
          value=""
          id="destroyMachines"
        />
        <label class="form-check-label" for="destroyMachines"> Destroy machines permission </label>
      </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>