<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">CMS</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/login'" class="nav-link active" aria-current="page">Login</a>
          <a [routerLink]="'/users'" class="nav-link active" aria-current="page">Users</a>
        </div>
        <div class="d-flex">
          <span>{{ getToken() }}</span>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
